{% extends "user_app/user_dashboard.html" %}
{% block content %}
{% load static %}
    <style type="text/css">
    	.center {
		  margin: auto;
		  width: 50%;
		  padding: 10px;
		}
    </style>
	<div id="mail_compose" class="center">

    <p>Password change for <b>{{request.user}}</b> user.</p>

    {% for message in messages %}
      <div class="alert alert-{% if message.tags == 'error'%}danger{% else %}success{% endif %}" id="message_container">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          <p style="text-align: center;">{{ message | safe }} </p>
      </div>  
    {% endfor %}
    <form method="POST">
        {% csrf_token %}
      <div class="form-group" style="margin-bottom: 10px">
        <label for="exampleFormControlInput1">Old password</label>
        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Enter old password" required="required" name="old_password">
      </div>

      <div class="form-group" style="margin-bottom: 10px">
        <label for="exampleFormControlTextarea1">New password</label>
        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Enter new password" required="required" name="new_password">
      </div>

      <button type="submit" class="btn btn-primary">Change password</button>
    </form>

<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
{% endblock %}