
{% extends "mail_app/dashboard.html" %}
{% block content %}
{% load mptt_tags %}

<div id="id_message_details">
    <ul class="messages" >
        {% recursetree message_data %}
        {% for message in node.get_family %}
            <li class="message">
                    <div class="header">
                        <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                        <span class="from" style="margin-left: 10px">{{message.from_user}}</span>
                        <span class="date">
                        <button class="form-group"  id="id_repaly_button_{{message_data.id}}" style="margin-right:10px" onclick="message_replay({{message.id}})"><i class="fa fa-reply" aria-hidden="true"></i></button>
                        <span class="fa fa-paper-clip"></span>{{message.created_on|date:"Y-m-d"}}</span>
                    </div>
                    <div class="title">
                        {% if message.parent_id == None%} {{message.subject}} {% endif %}
                    </div>
                    <div class="description">
                        {{message.message}}
                    </div>
                </a>

                <form method="POST" action="/message_detail/{{message.id}}/" style="display: none;" id="id_message_replay_{{message.id}}">
                    {% csrf_token %}
                    <div class="form-group" style="margin-bottom: 10px">
                        <label for="exampleFormControlTextarea1">Message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required="required" name="message"></textarea>
                        <input type="to_user_id" name="to_user_id" value="{{message.from_user_id}}" style="display: none;">
                        <input type="subject" name="subject" value="{{message.subject}}" style="display: none;">
                    </div>
                    <button type="submit" class="btn btn-primary">Send message</button>
                </form>
            </li>
        {% endfor %}
        {% endrecursetree %}
    </ul>    
</div>

<script type="text/javascript">
    function message_replay(message_id){
        $('#id_repaly_button_'+message_id).hide()
        $('#id_message_replay_'+message_id).show()
    }

</script>

{% endblock %}




